@import '../../styles/variables.scss';

.container {
    background-color: inherit;//todo
}

.itemContainer {
    background-color: inherit;//todo
}

.itemImage {
    height: 1.5rem;
    width: 1.5rem;
    background-color: $accent-color;
}

.itemTitle {
    font-size: 0.8rem;
    color: $accent-color;
}